.products
  padding: 30px 0
  &__title
    margin-bottom: 1em
  &-item
    position: relative
    @include font(14px, 128%,500)
    letter-spacing: -0.28px
    display: flex
    flex-direction: column
    height: 100%
  &-item__sale
    position: absolute
    top: 15px
    left: 20px
    color: #fff
    background-color: $main-color
    border-radius: 8px
    padding: 7px 12px
    z-index: 1
  &-item__favorite
    position: absolute
    top: 15px
    right: 20px
    z-index: 2
    width: 32px
    height: 32px
    display: flex
    align-items: center
    justify-content: center
    background-color: #fff
    border-radius: 50%

  &-item__thumb
    border-radius: 8px
    background-color: $sec-body-bg-color
    margin-bottom: 15px
    display: block
    overflow: hidden
    img
      aspect-ratio: 250/280
      width: 100%
      object-fit: cover
      transition: .3s
  &-item__title
    display: block
    margin-bottom: 1.1em
  &-item__price
    color: #000
    @include font(18px,100%,500)
    letter-spacing: -0.36px
    // display: flex
    // align-items: flex-end
    // gap: 9px
    margin-bottom: auto
    del
      color: $primary-text-color
      font-size: 12px
      line-height: 100%

    ins
      text-decoration: none
      order: -1
  &-item__btn
    margin-top: 20px
  &__btn

    max-width: 200px
    margin: 20px auto 0
@media screen and ( min-width: 992px )
  .products-item__thumb:hover img
    transform: scale(1.1)
