.yith-wcwl-add-to-wishlist a.add_to_wishlist>img, .yith-wcwl-add-to-wishlist a.delete_item>img, .yith-wcwl-add-to-wishlist a.move_to_another_wishlist>img
  max-width: 18px
  margin: 0
.yith-wcwl-add-to-wishlist
  margin: 0
  img
    max-width: 18px
.yith-wcwl-add-button
  font-size: 0
  a
    display: flex
    align-items: center
    justify-content: center
.woocommerce-variation-add-to-cart .qib-button-wrapper
  float: none !important
.qib-button-wrapper .quantity input.input-text.qty.text
  background-color: transparent
