.btn
  // text
  @include font (14px, 178%, 500)
  letter-spacing: -.28px
  font-family: $main-font
  text-align: center

  // sizes
  padding: 10px 20px
  display: flex
  align-items: center
  justify-content: center
  gap: 11px
  // border-radius: $brs
  border-radius: 8px
  // transition
  transition: .3s

  position: relative

  overflow: hidden

  cursor: pointer

  background-color: $btn-color
  color: #fff

  width: 100%
  &--red
    background-color: $main-color
    border: 1px solid $main-color
  &--transparent
    background-color: transparent
    color: $btn-color
    border: 1px solid $btn-color
    &.btn--red
      color: $main-color
      border: 1px solid $main-color

  &--grey
    background-color: #F3F4F5
    color: #000
@media screen and ( min-width: 992px )
  .btn:hover
    box-shadow: 3px 3px 0px $btn-color-hover
  .btn--red:hover
    box-shadow: 3px 3px 0px $main-color
@media screen and ( max-width: 992px )
  .btn
    font-size: 14px
