.header-menu
  display: flex
  align-items: center
  justify-content: space-between
  gap: 20px
  &__item
    position: relative
    a
      transition: .3s
      color: rgba(0,0,0,.7)
      position: relative
      z-index: 2
      &.active
        color: #000
        font-weight: 700
      &::before
        content: ''
        width: 0
        height: 1px
        background-color: $primary-text-color
        position: absolute
        bottom: -3px
        left: 0
        transition: .3s

@media screen and ( min-width: 992px )
  .header-menu__item:hover
    &> a

      &::before
        width: 100%
@media screen and ( max-width: 992px )
  .header-menu
    flex-direction: column
    margin: 40px 0
